<!--------------------------------------------------------------------------------->

<app-nav-bar></app-nav-bar>

<!--------------------------------------------------------------------------------->

<h1 class="textMenu">Menu</h1>

<!--------------------------------------------------------------------------------->

<div class="container">
    <mat-card class="TacosCard" (click)="openDialogTacos()">
        <h1 class="textCard">Tacos</h1>
    </mat-card>

    <mat-card class="BurritoCard" (click)="openDialogBurritos()">
        <h1 class="textCard">Burritos</h1>
    </mat-card>

    <mat-card class="TortaCard" (click)="openDialogTortas()">
        <h1 class="textCard">Tortas</h1>
    </mat-card>

    <mat-card class="MulitaCard" (click)="openDialogMulitas()">
        <h1 class="textCard">Mulitas</h1>
    </mat-card>

    <mat-card class="QuesadillaCard" (click)="openDialogQuesadillas()">
        <h1 class="textCard">Quesadillas</h1>
    </mat-card>

    <mat-card class="VegetarianCard" (click)="openDialogVegetarian()">
        <h1 class="textCard">Vegetarian</h1>
    </mat-card>

    <mat-card class="BirriaCard" (click)="openDialogBirria()">
        <h1 class="textCard">Birria</h1>
    </mat-card>

    <mat-card class="FishCard" (click)="openDialogFish()">
        <h1 class="textCard">Fish Sandwich</h1>
    </mat-card>

    <mat-card class="FriesCard" (click)="openDialogExtra()">
        <h1 class="textCard">Extra</h1>
    </mat-card>


</div>

<h1 class="textBottom">Tj Tortas & Tacos. SAN DIEGO CALIFORNIA.</h1>

<!--------------------------------------------------------------------------------->

<router-outlet></router-outlet>