<!--------------------------------------------------------------------------------->

<img id="imageLogo"
    src="https://firebasestorage.googleapis.com/v0/b/tjtortasytacos.appspot.com/o/Logotipo.png?alt=media&token=f3807c88-2ddd-4dc8-adaa-67b758f4f722"
    class="rounded mx-auto d-block" alt="...">

<!--------------------------------------------------------------------------------->

<h1 class="textWhereEat">Where you will be <br> eating today?</h1>

<!--------------------------------------------------------------------------------->



<div class="buttonsChoose">

    <mat-card class="carda" (click)="navigate()">
        <img id="imageButtonEatIn"
            src="https://firebasestorage.googleapis.com/v0/b/tjtortas-ytacos-ws.appspot.com/o/Icons%2Ficons8-eating-person-96.png?alt=media&token=31d33ad7-ec10-447b-b8d0-68359924900e"
            class="rounded mx-auto d-block" alt="...">
        <h4 class="textEatIn">Eat In</h4>
    </mat-card>

    <mat-card class="carda">
        <img id="imageButtonEatIn"
            src="https://firebasestorage.googleapis.com/v0/b/tjtortas-ytacos-ws.appspot.com/o/Icons%2Ficons8-take-away-food-64.png?alt=media&token=0dcd132a-fe4c-4c52-ac62-9116391103b1"
            class="rounded mx-auto d-block" alt="...">
        <h4 class="textEatIn">Take Out</h4>
    </mat-card>

</div>